  <form id='order-details-form'>
    {% csrf_token %}
    <table>
        <tr>
            <td><label for="id_street_address">Street address:</label></td>
            <td>{{form.street_address}}</td>
        </tr>
        <tr>
            <td><label for="id_city">City:</label></td>
            <td>{{form.city}}</td>
        </tr>
        <tr>
            <td><label for="id_state">State:</label></td>
            <td>{{form.state}}</td>
        </tr>
        <tr>
            <td><label for="id_zip">Zip:</label></td>
            <td>{{form.zip}}</td>
        </tr>
        {% comment %}
        <tr>
            <td><label for="id_is_default">Is default:</label></td>
            <td>{{form.is_default}}</td>
        </tr>
        {% endcomment %}
    </table>
    <input type="submit" value="Next" />
</form>