<html>
<head>
    <style type="text/css">
        IMG.logo {
            display: block;
            margin-left: auto;
            margin-right: auto }
    </style>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29514704-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      $(document).ready(function(){

      });
    </script>
</head>
<body>
    <img class='logo' src="{{MEDIA_URL}}/home/regaleagle.png"/>
    {% include 'regalness/order.html' %}
</body>
</html>