<div id='info'>
    <span class="errors" id="error-msg"></span>
    <div id='options-form'>
        <input type="radio" name="option" value="{{bulk}}">One time order</br>
        <input type="radio" name="option" value="{{sub}}">Subscribe
    </div>
    <div id="quantity-form">
        <span id='quantity-directions'></span>
        <input type="text" size="2" class=""/>
    </div>
    <div id="authentication">
        <div id="login">

        </div>
        OR <a href="#" id="create-act">create an account</a>
        <div id="registration">

        </div>
    </div>
    <div id='deets'>

    </div>
    <div id="contact">

    </div>
   <form action="" id="payment-form">
        <div class="form-row">
            <label>Card Number</label>
            <input type="text" size="20" autocomplete="off" class="card-number"
            {%if card%} value="{{card}}"{%endif%}
            />
        </div>
        <div class="form-row">
            <label>CVC</label>
            <input type="text" size="4" autocomplete="off" class="card-cvc"/>
        </div>
        <div class="form-row">
            <label>Expiration (MM/YYYY)</label>
            <input type="text" size="2" class="card-expiry-month"/>
            <span> / </span>
            <input type="text" size="4" class="card-expiry-year"/>
        </div>
        <button type="submit" class="submit-button">Submit Payment</button>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#payment-form").hide();
        $("#quantity-form").hide();
        $("#registration").hide();
        $("#authentication").hide();
        $("#deets").hide();
        $("#contact").hide();
        $('#create-act').unbind('click', showRegister).bind('click', showRegister);

        option = '';
        quantity = 0;
        COST_PER_COOKIE = {{COST_PER_COOKIE}};
        username = '';
        function loadOrderDetails(){
            $("#authentication").empty();
            $.get('/deets/', function(data){
                $("#deets").append(data);
                $('#order-details-form').unbind('submit', handleDeetsSubmission).bind('submit', handleDeetsSubmission);
                $("#deets").show();
            });
            return false;
        }
        function showRegister(e){
            $("#registration").show();
            return false;
        }
        function handleLoginSubmission(){
            $("#registration").hide();
            $.ajax({
                type: "post",
                url : "/login/",
                  data: { 
                    'username': $("#authentication #id_username").val(),
                    'password': $("#authentication #id_password").val(),
                },
                success : function(data){
                    console.log('login success')
                    username = data.username;
                    loadOrderDetails();
                    return false;
                },
                error: function(requestError, status, errorResponse){
                    var response = requestError.responseText;
                    $("#error-msg").html(response);
                    return false;
                }
            });
            return false;
        }
        function handleDeetsSubmission(){
            $.ajax({
                type: "post",
                url : "/deets/",
                  data: {
                    'street_address':$("#id_street_address").val(),
                    'city': $("#id_city").val(),
                    'state': $("#id_state").val(),
                    'zip': $("#id_zip").val(),
                },
                success : function(data){
                    $("#deets").empty();
                    $.get('/contact/', function(data){
                        $("#contact").append(data);
                        $('#contact-form').unbind('submit', handleContactSubmission).bind('submit', handleContactSubmission);
                        $("#contact").show();
                    });
                    return false;
                },
                error: function(requestError, status, errorResponse){
                    var response = requestError.responseText;
                    $("#error-msg").html(response);
                    return false;
                }
            });
            return false;
        }
        function handleContactSubmission(){
            $.ajax({
                type: "post",
                url : "/contact/",
                  data: {
                    'email': $("#id_email").val(),
                    'phone_number': $("#id_phone_number").val()
                },
                success : function(data){
                    $("#contact").empty();
                    $("#payment-form").show();
                    return false;
                },
                error: function(requestError, status, errorResponse){
                    var response = requestError.responseText;
                    $("#error-msg").html(response);
                    return false;
                }
            });
            return false;
        }
        function handleUserSubmission(){
            $("#registration").hide();
            $.ajax({
                type: "post",
                url : "/register/",
                  data: { 
                  'username': $("#registration #id_username").val(),
                  'password1': $("#registration #id_password1").val(),
                  'password2': $("#registration #id_password2").val(),
                },
                success : function(data){
                    username = data.username;
                    loadOrderDetails();
                },
                error: function(requestError, status, errorResponse){
                    var response = requestError.responseText;
                    $("#error-msg").html(response);
                    return false;
                }
            });
            return false;
        }
        $("#options-form :radio").change(function() {
             option = $('#options-form input[type=radio]:checked').val();
             var dirtxt = '';
             if(option == "{{bulk}}"){
                dirtxt = "Enter the number of cookies you'd like";
             }else{
                dirtxt = "Each subscription counts for 20 cookies every week, enter the number of subscriptions you'd like";
             }
             $("#options-form").hide();
             $("#quantity-directions").html(dirtxt);
             $("#quantity-form").show();
        });
        $("#quantity-form input").change(function() {
            quantity = $("#quantity-form input").val();
            $("#quantity-form").hide();
            $("#payment-form").hide();
            if(option != "{{bulk}}"){
                $.get('/login/', function(data){
                    $("#login").append(data);
                    $('#login-form').unbind('submit', handleLoginSubmission).bind('submit', handleLoginSubmission);
                    $("#authentication").show();
                });
                $.get('/register/', function(data){
                    $("#registration").append(data);
                    $('#registration-form').unbind('submit', handleUserSubmission).bind('submit', handleUserSubmission);
                    //$("#registration").show();
                });
            }else{
                $.get('/deets/', function(data){
                    $("#deets").append(data);
                    $('#order-details-form').unbind('submit', handleDeetsSubmission).bind('submit', handleDeetsSubmission);
                    $("#deets").show();
                });
            }
        });
        function stripeResponseHandler(status, response) {
            if (response.error) {
                $(".errors").html(response.error.message);
                $('#payment-form :input[type="submit"]').removeAttr('disabled');
            } else {
                var form$ = $("#payment-form");
                var token = response['id'];
                $.get('/s/'+option+'/'+quantity+'/'+token, function(data){
                    $("#info").empty();
                    $("#info").append(data);
                });
            }
            return false;
        }
        Stripe.setPublishableKey('{{key}}');
        $(".errors").html('');
        $("#payment-form").submit(function(event) {
            // disable the submit button to prevent repeated clicks
            $('.submit-button').attr("disabled", "disabled");

            Stripe.createToken({
                number: $('.card-number').val(),
                cvc: $('.card-cvc').val(),
                exp_month: $('.card-expiry-month').val(),
                exp_year: $('.card-expiry-year').val()
            }, stripeResponseHandler);
            // prevent the form from submitting with the default action
            return false;
        });

        jQuery(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
            $("#error-msg").html('');

        });

    });
</script>
