<div id='info'>
    <span class="payment-errors"></span>
    <div id='options-form'>
        <input type="radio" name="option" value="bulk">One time order</br>
        <input type="radio" name="option" value="sub">Subscribe
    </div>
    <div id="quantity-form">
        <span id='quantity-directions'></span>
        <input type="text" size="2" class=""/>
    </div>
   <form action="" id="payment-form">
        <div class="form-row">
            <label>Card Number</label>
            <input type="text" size="20" autocomplete="off" class="card-number"
            {%if card%} value="{{card}}"{%endif%}
            />
        </div>
        <div class="form-row">
            <label>CVC</label>
            <input type="text" size="4" autocomplete="off" class="card-cvc"/>
        </div>
        <div class="form-row">
            <label>Expiration (MM/YYYY)</label>
            <input type="text" size="2" class="card-expiry-month"/>
            <span> / </span>
            <input type="text" size="4" class="card-expiry-year"/>
        </div>
        <button type="submit" class="submit-button">Submit Payment</button>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#payment-form").hide();
        $("#quantity-form").hide();
        option = '';
        quantity = 0;
        $("#options-form :radio").change(function() {
             option = $('#options-form input[type=radio]:checked').val();
             var dirtxt = '';
             if(option == "bulk"){
                dirtxt = "Enter the number of cookies you'd like";
             }else{
                dirtxt = "Each subscription counts for 20 cookies every week, enter the number of subscriptions you'd like";
             }
             $("#options-form").hide();
             $("#quantity-directions").html(dirtxt);
             $("#quantity-form").show();
        });
        $("#quantity-form input").change(function() {
            quantity = $("#quantity-form input").val();
            $("#quantity-form").hide();
            $("#payment-form").show();
        });
        function stripeResponseHandler(status, response) {
            if (response.error) {
                $(".payment-errors").html(response.error.message);
            } else {
                var form$ = $("#payment-form");
                var token = response['id'];
                $.get('/s/'+token, function(data){
                    $("#info").empty();
                    $("#info").append(data);
                });
            }
            return false;
        }
        Stripe.setPublishableKey('{{key}}');
        $("#payment-form").submit(function(event) {
            console.log(option);
            console.log(quantity);
            // disable the submit button to prevent repeated clicks
            $('.submit-button').attr("disabled", "disabled");

            Stripe.createToken({
                number: $('.card-number').val(),
                cvc: $('.card-cvc').val(),
                exp_month: $('.card-expiry-month').val(),
                exp_year: $('.card-expiry-year').val()
            }, stripeResponseHandler);
            // prevent the form from submitting with the default action
            return false;
        });
    });
</script>
