<table id='order-review-table'>
    <tr>
        <td>First name</td>
        <td>{{fname}}</td>
        <td><a href="#" class="change-contact-link">change</a></td>
    </tr>
    <tr>
        <td>Last name</td>
        <td>{{lname}}</td>
        <td><a href="#" class="change-contact-link">change</a></td>
    </tr>
    <tr>
        <td>e-mail</td>
        <td>{{email}}</td>
        <td><a href="#" class="change-contact-link">change</a></td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{phone}}</td>
        <td><a href="#" class="change-contact-link">change</a></td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{street_address}}</td>
        <td><a href="#" class="change-addr-link">change</a></td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{city}}</td>
        <td><a href="#" class="change-addr-link">change</a></td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{state}}</td>
        <td><a href="#" class="change-addr-link">change</a></td>
    </tr>
    <tr>
        <td>Zip</td>
        <td>{{zip}}</td>
        <td><a href="#" class="change-addr-link">change</a></td>
    </tr>
    
</table>